<a href="/" title="Go to Home">Home</a>
<a href="/about" title="Go to About">About</a>
<a href="/tags/projects">Projects</a>
<a href="/tags/scribbles">Scribbles</a>
<a href="/tags/ramblings">Ramblings</a>