<menu class="social-media-share">
    <a href="https://m.facebook.com/jasongarryfinch" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="https://twitter.com/fasonjinch" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://plus.google.com/114222984088655341054" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="http://github.com/jasonfinch" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="https://m.youtube.com/channel/UCBKXK7RrmPR4qiJmJJ8qivQ" class="icon-youtube" rel="external" title="My YouTube"></a>
    <a href="mailto:jasongarryfinch@googlemail.com" class="icon-mail" rel="external" title="My Mail"></a>
    <a href="http://deafinbotheyes.com/rss/" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>